# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# Node / Vite
node_modules/
app/dist/
app/.env.local
app/.env.production

# Tmp
/tmp/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
*.pem
*.key
